/* paddingX */
@media (min-width: 640px) {
  .paddingX {
    padding-left: 1rem;
    padding-right: 4rem;
  }
}

.paddingX {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

/* paddingY */
@media (min-width: 640px) {
  .paddingY {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.paddingY {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* padding */
@media (min-width: 640px) {
  .padding {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
}

.padding {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

/* heroHeadText */
.heroHeadText {
  font-weight: 900;
  color: #222;
  font-size: 80px;
  line-height: 98px;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  .heroHeadText {
    font-size: 60px;
    line-height: 64px;
  }
}

@media (max-width: 639px) {
  .heroHeadText {
    font-size: 50px;
    line-height: 56px;
  }
}

@media (max-width: 414px) {
  .heroHeadText {
    font-size: 40px;
    line-height: 48px;
  }
}

/* heroSubText */
.heroSubText {
  color: #444;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

@media (max-width: 767px) {
  .heroSubText {
    font-size: 26px;
    line-height: 32px;
  }
}

@media (max-width: 639px) {
  .heroSubText {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 414px) {
  .heroSubText {
    font-size: 16px;
    line-height: 24px;
  }
}

/* sectionHeadText */
.sectionHeadText {
  color: #333;
  font-weight: 900;
  font-size: 60px;
}

@media (max-width: 767px) {
  .sectionHeadText {
    font-size: 50px;
  }
}

@media (max-width: 639px) {
  .sectionHeadText {
    font-size: 40px;
  }
}

@media (max-width: 414px) {
  .sectionHeadText {
    font-size: 30px;
  }
}

/* sectionSubText */
.sectionSubText {
  font-size: 18px;
  color: #ddd;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (max-width: 639px) {
  .sectionSubText {
    font-size: 14px;
  }
}


/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}


.vertical-timeline-element-content .vertical-timeline-element-date {
  color: #111;
}

@media only screen and (max-width: 1170px) {

  .vertical-timeline-element-content .vertical-timeline-element-date {
    color: #fff;
}
}

